@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}

li,
a {
    margin: 75px 0 -55px 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 8vh;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
    align-self: center;
}

li {
    width: 230px;
    text-indent: 56px;
}

a:focus {
    display: block;
    color: black;
    background-color: #eee;
    transition: all .5s;
}

#trigger,
#burger,
#burger:before,
#burger:after {
    position: fixed;
    top: 25px;
    left: 25px;
    background: linear-gradient(270deg, #ac15ff, #ffea15);
    background-size: 100% 100%;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1001;
}

#trigger {
    height: 25px;
    background: none;
}

#burger:before,
#burger:after {
    content: " ";
    left: 0;
    position: absolute;
    width: 30px;
    height: 5px;
    background: inherit;
    background-size: inherit;
}

#burger:before {
    top: 10px;
}

#burger:after {
    top: 20px;
}

#menu {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-bottom-right-radius: 100%;
    animation: not-checked-anim .5s both;
    transition: .5s;
    z-index: 1000;
}

#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 5s ease both;
    background-color: black;
}

#menu-toggle:checked + #trigger ~ #menu > li,
a {
    display: block;
}

#menu > li {
    display: block;
    opacity: 0;
    transform: translateY(12px);
    transition: opacity .38s ease, transform .38s ease;
}

#menu > li a {
    display: block;
}

#menu-toggle:checked + #trigger + #burger + #menu > li {
    opacity: 1;
    transform: translateY(0);
}

#menu-toggle:checked + #trigger + #burger + #menu > li:nth-child(1) {
    transition-delay: .08s;
}

#menu-toggle:checked + #trigger + #burger + #menu > li:nth-child(2) {
    transition-delay: .16s;
}

#menu-toggle:checked + #trigger + #burger + #menu > li:nth-child(3) {
    transition-delay: .24s;
}

#menu-toggle:checked + #trigger + #burger + #menu > li:nth-child(4) {
    transition-delay: .32s;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}
